PATH=__PATH_WITH_NODEJS__

MODE=self-hosted
LOG_LEVEL=info
NODE_ENV=production
VERSION=production

PORT="__PORT_API_GATEWAY__"

SYNCING_SERVER_JS_URL=http://localhost:__PORT_SYNCING_SERVER__
# SYNCING_SERVER_GRPC_URL=http://syncing_server_js:50052
AUTH_SERVER_URL=http://localhost:__PORT_AUTH__
# AUTH_SERVER_GRPC_URL=http://auth:50051
WEB_SOCKET_SERVER_URL=http://websockets:3000
# PAYMENTS_SERVER_URL=http://payments:3000
FILES_SERVER_URL=http://__DOMAIN____PATH__/files/
# REVISIONS_SERVER_URL=http://revisions:3000
# EMAIL_SERVER_URL=http://email:3000

HTTP_CALL_TIMEOUT=60000

AUTH_JWT_SECRET=__AUTH_JWT_SECRET__

CACHE_TYPE=redis
REDIS_URL=redis://localhost:6379/__REDIS_DB__

# (Optional) Caching Cross Service Tokens
CROSS_SERVICE_TOKEN_CACHE_TTL=
