PATH=__PATH_WITH_NODEJS__

MODE=self-hosted
LOG_LEVEL=info
NODE_ENV=production
VERSION=production

AUTH_JWT_SECRET=__AUTH_JWT_SECRET__

PORT=__PORT_SYNCING_SERVER__

DB_HOST=localhost
DB_REPLICA_HOST=localhost
DB_PORT=3306
DB_USERNAME=__DB_USER__
DB_PASSWORD=__DB_PWD__
DB_DATABASE=__DB_NAME__
DB_DEBUG_LEVEL=all # "all" | "query" | "schema" | "error" | "warn" | "info" | "log" | "migration"
DB_MIGRATIONS_PATH=dist/migrations/*.js
DB_TYPE=mysql

REDIS_URL=redis://localhost:6379/__REDIS_DB__
CACHE_TYPE=redis

VALET_TOKEN_SECRET=__VALET_TOKEN_SECRET__
VALET_TOKEN_TTL=1000

SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:payments-local-topic # a value for SNS_TOPIC_ARN must be set
#SNS_AWS_REGION=
#SQS_QUEUE_URL=
#SQS_AWS_REGION=
#S3_AWS_REGION=
#S3_BACKUP_BUCKET_NAME=

INTERNAL_DNS_REROUTE_ENABLED=false
#EXTENSIONS_SERVER_URL=http://extensions-server:3004
AUTH_SERVER_URL=http://localhost:__PORT_AUTH__

EMAIL_ATTACHMENT_MAX_BYTE_SIZE=10485760

REVISIONS_FREQUENCY=300

# (Optional) New Relic Setup
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME="Syncing Server JS"
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_NO_CONFIG_FILE=true
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=false
NEW_RELIC_LOG_ENABLED=false
NEW_RELIC_LOG_LEVEL=info

# (Optional) Revision Dumps
FILE_UPLOAD_PATH=__DATA_DIR__/uploads/

VALET_TOKEN_SECRET=__VALET_TOKEN_SECRET__
VALET_TOKEN_TTL=7200

# (Optional) Mongo Setup
SECONDARY_DB_ENABLED=false
MONGO_HOST=
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=