__YNH_NODE_LOAD_PATH__

LOG_LEVEL="info"
NODE_ENV="production"
VERSION="production"

PORT="__PORT_API_GATEWAY__"

SYNCING_SERVER_JS_URL="http://localhost:__PORT_SYNCING_SERVER__"
AUTH_SERVER_URL="http://localhost:__PORT_AUTH__"
WORKSPACE_SERVER_URL="http://localhost:__PORT_WORKSPACE__"
#PAYMENTS_SERVER_URL=http://payments:3000
FILES_SERVER_URL=http://__DOMAIN____PATH__/files/

HTTP_CALL_TIMEOUT=60000

AUTH_JWT_SECRET=__AUTH_JWT_SECRET__

# (Optional) New Relic Setup
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME="API Gateway"
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_NO_CONFIG_FILE=true
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=false
NEW_RELIC_LOG_ENABLED=false
NEW_RELIC_LOG_LEVEL=info

REDIS_URL=redis://localhost:6379/__REDIS_DB__
REDIS_EVENTS_CHANNEL=events

# (Optional) SNS Setup
SNS_TOPIC_ARN=
SNS_AWS_REGION=

# (Optional) Caching Cross Service Tokens
CROSS_SERVICE_TOKEN_CACHE_TTL=
