[Unit]
Description=__APP__ service
After=network.target
After=mysql.service
After=redis.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live
Environment="RAILS_ENV=production"
Environment="PORT=__PORT__"
ExecStart=__RBENV_INSTALL_DIR__/versions/__APP__/bin/bundle exec rails server
ExecReload=/bin/kill -SIGUSR1 $MAINPID
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=append:/var/log/__APP__/__APP__.log
SyslogIdentifier=__APP__
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
