[Unit]
Description=StandardNotes syncing server worker
After=network.target
After=mysql.service
After=redis.service
After=__APP__-syncing-server-js.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live/syncing-server-js-worker
EnvironmentFile=__FINALPATH__/live/syncing-server-js-worker.env
ExecStart=/usr/bin/yarn worker
StandardOutput=append:/var/log/__APP__/syncing-server-js-worker.log
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
