[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live
Environment=RAILS_ENV=production
Environment="PORT=__PORT_WEB__"
ExecStart=/opt/rbenv/versions/__RUBY_VERSION__/bin/bundle exec rails server
ExecReload=/bin/kill -SIGUSR1 $MAINPID
StandardOutput=/var/log/__APP__/__APP__.log
StandardError=/var/log/__APP__/__APP__.log
SyslogIdentifier=__APP__
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target





