[Unit]
Description=StandardNotes auth worker
After=network.target
After=mysql.service
After=redis.service
After=__APP__-auth.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live/auth-worker
EnvironmentFile=__FINALPATH__/live/auth-worker.env
ExecStart=/usr/bin/yarn worker
StandardOutput=append:/var/log/__APP__/auth-worker.log
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
