[Unit]
Description=StandardNotes api-gateway
After=network.target
After=__APP__-syncing-server-js.service
After=__APP__-auth.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/live/api-gateway
EnvironmentFile=__FINALPATH__/live/api-gateway/.env
ExecStart=/usr/bin/yarn start
StandardOutput=append:/var/log/__APP__/api-gateway.log
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
